<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>My First Table</title>

</head>

<body>

<h2>List of Cars</h2>
<table border="3">
    <th> </th>
    <tr>
        <th>id</th>
        <th>model</th>
        <th>series</th>
    </tr>
    <div>
        <tr th:each="car : ${cars}">
            <th th:text="${car.id}"></th>
            <th th:text="${car.model}"></th>
            <th th:text="${car.series}"></th>
        </tr>
    </div>

</table>

</body>

</html>